<nav class="navbar navbar-expand-lg navbar-dark bg-dark top-fixed">
    <a class="text-light ml-2" href=""><img src="../../../assets/logodeneme.png" style="height: 60%;width: 60%;"
            alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse mr-4 justify-content-end  text-center" id="navbarNav">
        <ul class="navbar-nav">
            <div class="card  mr-4 mb-2 mt-2" style="background-color:grey">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="sofor/soforyardim">
                        Yol Yardım <span class="sr-only">(current)</span>
                    </a>
                </li>
            </div>

            <div class="card mr-4 mb-2 mt-2" style="background-color:grey;">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="sofor/gecmis">
                        Alınan İşler <span class="sr-only">(current)</span>
                    </a>
                </li>
            </div>

            <div class="card  mr-4 mb-2 mt-2" style="background-color:grey">
                <li class="nav-item active text-center">
                    <a class="nav-link text-white" href="sofor/favoriler">
                        Favorilerim <span class="sr-only">(current)</span>
                    </a>
                </li>
            </div>

            <div class="card  mr-4 mb-2 mt-2" style="background-color:grey">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="sofor/isara">
                        İş İlanları <span class="sr-only">(current)</span>
                    </a>
                </li>
            </div>
            <div class="card  mb-2 mt-2 dropdown" style="background-color:grey">

                <button class="btn bg-info dropdown-toggle text-white" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Diğer İşlemler
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Destek</a>
                    <a class="dropdown-item" href="sofor/ayarlar">Ayarlar</a>
                    <a class="dropdown-item" href="sofor" (click)="this.OturumKapat()">Çıkış</a>

                </div>

            </div>
        </ul>
    </div>

</nav>

<div class="container mt-3 col-md-6">
    <h1 style="color:lightslategray" class="text-center">GÜNCELLEME EKRANI</h1>
    <hr>
    <div class="card" *ngFor="let item of kayitlar">
        <div class="card-body">
            <form #frm="ngForm">
                <div class="form-group">
                    <label>Ad Soyad</label>
                    <input type="text" name="adsoyad" class="form-control" required value="{{item.adSoyad}}">
                </div>
                <div class="form-group">
                    <label>Telefon Numarası</label>
                    <input type="text" name="telNo" class="form-control" required value="{{item.telNo}}">
                </div>
                <div class="form-group">
                    <label>Konum</label>
                    <select name="konum" class="form-control" required value="{{item.konum}}">

                        <option>Adana</option>
                        <option>Adıyaman</option>
                        <option>Afyonkarahisar</option>
                        <option>Ağrı</option>
                        <option>Amasya</option>
                        <option>Ankara</option>
                        <option>Antalya</option>
                        <option>Artvin</option>
                        <option>Aydın</option>
                        <option>Balıkesir</option>
                        <option>Bilecik</option>
                        <option>Bingöl</option>
                        <option>Bitlis</option>
                        <option>Bolu</option>
                        <option>Burdur</option>
                        <option>Bursa</option>
                        <option>Çanakkale</option>
                        <option>Çankırı</option>
                        <option>Çorum</option>
                        <option>Denizli</option>
                        <option>Diyarbakır</option>
                        <option>Edirne</option>
                        <option>Elazığ</option>
                        <option>Erzincan</option>
                        <option>Erzurum</option>
                        <option>Eskişehir</option>
                        <option>Gaziantep</option>
                        <option>Giresun</option>
                        <option>Gümüşhane</option>
                        <option>Hakkâri</option>
                        <option>Hatay</option>
                        <option>Isparta</option>
                        <option>Mersin</option>
                        <option>İstanbul</option>
                        <option>İzmir</option>
                        <option>Kars</option>
                        <option>Kastamonu</option>
                        <option>Kayseri</option>
                        <option>Kırklareli</option>
                        <option>Kırşehir</option>
                        <option>Kocaeli</option>
                        <option>Konya</option>
                        <option>Kütahya</option>
                        <option>Malatya</option>
                        <option>Manisa</option>
                        <option>Kahramanmaraş</option>
                        <option>Mardin</option>
                        <option>Muğla</option>
                        <option>Muş</option>
                        <option>Nevşehir</option>
                        <option>Niğde</option>
                        <option>Ordu</option>
                        <option>Rize</option>
                        <option>Sakarya</option>
                        <option>Samsun</option>
                        <option>Siirt</option>
                        <option>Sinop</option>
                        <option>Sivas</option>
                        <option>Tekirdağ</option>
                        <option>Tokat</option>
                        <option>Trabzon</option>
                        <option>Tunceli</option>
                        <option>Şanlıurfa</option>
                        <option>Uşak</option>
                        <option>Van</option>
                        <option>Yozgat</option>
                        <option>Zonguldak</option>
                        <option>Aksaray</option>
                        <option>Bayburt</option>
                        <option>Karaman</option>
                        <option>Kırıkkale</option>
                        <option>Batman</option>
                        <option>Şırnak</option>
                        <option>Bartın</option>
                        <option>Ardahan</option>
                        <option>Iğdır</option>
                        <option>Yalova</option>
                        <option>Karabük</option>
                        <option>Kilis</option>
                        <option>Osmaniye</option>
                        <option>Düzce</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>E posta</label>
                    <input type="text" name="posta" class="form-control" required value="{{item.posta}}"
                        [disabled]=[false]>
                </div>
                <div class="form-group">
                    <label>Araç Plakası</label>
                    <input type="text" name="plaka" class="form-control" required value="{{item.plaka}}">
                </div>
                <div class="form-group">
                    <label>Araç Türü</label>
                    <select name="aracTur" class="form-control" required value="{{item.aracTur}}">
                        <option>Seçiniz</option>
                        <option>Tenteli Tır</option>
                        <option>Treylerli Tır</option>
                        <option>Normal Açık Tır</option>
                        <option>Damperli Tır</option>
                        <option>Lowbed Tır</option>
                        <option>Kırkayak</option>
                        <option>Kamyon</option>
                        <option>Kamyonet</option>

                    </select>
                </div>
                <div class="form-group">
                    <label>Şifre</label>
                    <input type="password" name="sifre" class="form-control" required value="{{item.sifre}}"
                        [disabled]=[false]>
                </div>
                <div class="form-group">
                    <input type="submit" name="giris" class="btn btn-warning text-dark btn-block" value="Güncelle"
                        [disabled]="frm.invalid" (click)="guncelle(item)">
                </div>

            </form>
        </div>
        <div class="card-footer text-right">Marjinal Yazılım.</div>

    </div>
</div>