<nav class="navbar navbar-expand-lg navbar-dark bg-dark top-fixed">
    <a class="text-light ml-2" href=""><img src="../../../assets/logodeneme.png" style="height: 60%;width: 60%;"
            alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse mr-4 justify-content-end  text-center" id="navbarNav">
        <ul class="navbar-nav">
            <div class="card mr-4 mb-2 mt-2" style="background-color:grey">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="sofor/soforyardim">
                        Yol Yardım <span class="sr-only">(current)</span>
                    </a>
                </li>
            </div>

            <div class="card mr-4 mb-2 mt-2" style="background-color:grey">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="sofor/gecmis">
                        Alınan İşler <span class="sr-only">(current)</span>
                    </a>
                </li>
            </div>

            <div class="card mr-4 mb-2 mt-2" style="background-color:grey">
                <li class="nav-item active text-center">
                    <a class="nav-link text-white" href="sofor/favoriler">
                        Favorilerim <span class="sr-only">(current)</span>
                    </a>
                </li>
            </div>

            <div class="card bg-info mr-4 mb-2 mt-2">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="sofor/isara">
                        İş İlanları <span class="sr-only">(current)</span>
                    </a>
                </li>
            </div>
            <div class="card  mb-2 mt-2 dropdown" style="background-color:grey">

                <button class="btn dropdown-toggle text-white" style="background-color:grey;" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Diğer İşlemler
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Destek</a>
                    <a class="dropdown-item" href="sofor/ayarlar">Ayarlar</a>
                    <a class="dropdown-item" href="sofor" (click)="OturumKapat()">Çıkış</a>
                </div>

            </div>
        </ul>
    </div>

</nav>
<div class="container">

    <div class="col-md-6 mt-5">

        <form #frm2="ngForm">
            <div class="form-inline">
                <label>Yükleme Noktası</label>
                <select name="filtre" class="form-control ml-1" #Sehir [(ngModel)]="filtre" (click)="KayitListele()">
                    <option>Adana</option>
                    <option>Adıyaman</option>
                    <option>Afyonkarahisar</option>
                    <option>Ağrı</option>
                    <option>Amasya</option>
                    <option>Ankara</option>
                    <option>Antalya</option>
                    <option>Artvin</option>
                    <option>Aydın</option>
                    <option>Balıkesir</option>
                    <option>Bilecik</option>
                    <option>Bingöl</option>
                    <option>Bitlis</option>
                    <option>Bolu</option>
                    <option>Burdur</option>
                    <option>Bursa</option>
                    <option>Çanakkale</option>
                    <option>Çankırı</option>
                    <option>Çorum</option>
                    <option>Denizli</option>
                    <option>Diyarbakır</option>
                    <option>Edirne</option>
                    <option>Elazığ</option>
                    <option>Erzincan</option>
                    <option>Erzurum</option>
                    <option>Eskişehir</option>
                    <option>Gaziantep</option>
                    <option>Giresun</option>
                    <option>Gümüşhane</option>
                    <option>Hakkâri</option>
                    <option>Hatay</option>
                    <option>Isparta</option>
                    <option>Mersin</option>
                    <option>İstanbul</option>
                    <option>İzmir</option>
                    <option>Kars</option>
                    <option>Kastamonu</option>
                    <option>Kayseri</option>
                    <option>Kırklareli</option>
                    <option>Kırşehir</option>
                    <option>Kocaeli</option>
                    <option>Konya</option>
                    <option>Kütahya</option>
                    <option>Malatya</option>
                    <option>Manisa</option>
                    <option>Kahramanmaraş</option>
                    <option>Mardin</option>
                    <option>Muğla</option>
                    <option>Muş</option>
                    <option>Nevşehir</option>
                    <option>Niğde</option>
                    <option>Ordu</option>
                    <option>Rize</option>
                    <option>Sakarya</option>
                    <option>Samsun</option>
                    <option>Siirt</option>
                    <option>Sinop</option>
                    <option>Sivas</option>
                    <option>Tekirdağ</option>
                    <option>Tokat</option>
                    <option>Trabzon</option>
                    <option>Tunceli</option>
                    <option>Şanlıurfa</option>
                    <option>Uşak</option>
                    <option>Van</option>
                    <option>Yozgat</option>
                    <option>Zonguldak</option>
                    <option>Aksaray</option>
                    <option>Bayburt</option>
                    <option>Karaman</option>
                    <option>Kırıkkale</option>
                    <option>Batman</option>
                    <option>Şırnak</option>
                    <option>Bartın</option>
                    <option>Ardahan</option>
                    <option>Iğdır</option>
                    <option>Yalova</option>
                    <option>Karabük</option>
                    <option>Kilis</option>
                    <option>Osmaniye</option>
                    <option>Düzce</option>
                </select>
                <button type="submit" class="form-control btn btn-success ml-2 mt-1"
                    (click)=" KayitListeleHepsi();">Bütün
                    İşleri
                    Gör</button>
            </div>

        </form>


    </div>

    <div class="card col-md-3 mt-5 float-left ml-1" style="background-color:rgb(227, 237, 241);"
        *ngFor="let item of kayitlar">
        <div class="card-header text-center">
            <h6 style="color: seagreen;">{{item.yuklemeNoktasi}} - {{item.indirmeNoktasi}} Arası</h6>
        </div>
        <div class="card-body text-center">
            <h6 class="float-right">{{item.kayitTarih.replace('/Date(','').replace(')/','') | date:"dd/MM/yyyy"}}
            </h6>
            <br><br>
            <h5 style="color: maroon;">{{item.isletmeAdi}}</h5>
            <hr>
            <h6 style="color: maroon;">{{item.aracTur}}</h6>
            {{item.yukCins}} <br>
            {{item.yukAgirlik}} <br>
            {{item.ucret}} ₺ <br>

            <hr>
            İletişim: {{item.telNo}}
        </div>
        <div class="card-footer"><button type="submit" class="btn btn-outline-danger btn-block" (click)="
                this.isletmeAdi=item.isletmeAdi;
                this.yukCins=item.yukCins;
                this.yukAgirlik=item.yukAgirlik;
                this.yuklemeNoktasi=item.yuklemeNoktasi;
                this.indirmeNoktasi=item.indirmeNoktasi;
                this.telNo=item.telNo;
                this.ucret=item.ucret;
                this.aracTur2=item.aracTur;
                this.kayitTarih=item.kayitTarih;
                this.firmaid=item.firmaid;
                this.verildimi=item.verildimi;
              favoriEkle();                
                ">Favorilerime Ekle </button>
        </div>
    </div>
</div>