<nav class="navbar navbar-expand-lg navbar-dark bg-dark top-fixed">
    <a class="text-light ml-2" href=""><img src="../../../assets/logodeneme.png" style="height: 60%;width: 60%;"
            alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="ml-auto">
        <div class="collapse navbar-collapse mr-4" id="navbarNav">
            <ul class="navbar-nav">
                <div class="card bg-warning mr-4 mb-2 mt-2">
                    <li class="nav-item active">
                        <a class="nav-link text-dark" href="">
                            Ana Sayfa<span class="sr-only">(current)</span>
                        </a>
                    </li>
                </div>
                <div class="card bg-warning mr-4 mb-2 mt-2">
                    <li class="nav-item active">
                        <a class="nav-link text-dark" href="yolyardim">
                            Yol Yardım İşletmeleri <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </div>
                <div class="card bg-info mr-4 mb-2 mt-2">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="isveren">
                            İşveren İşlemleri <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </div>
                <div class="card bg-warning mb-2 mt-2">

                    <li class="nav-item active">
                        <a class="nav-link text-dark" href="sofor">
                            Şöför İşlemleri
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>



<div class="col-md-6 mt-5 float-left">
    <div class="card">
        <div class="card-header bg-warning text-dark">
            <h3>Kayıt Ol</h3>
        </div>
        <div class="card-body">
            <form ngForm="ngForm">
                <div class="form-group">
                    <label>Firma Adı</label>
                    <input type="text" name="isletmeAdi" class="form-control" [(ngModel)]="seckayit.isletmeAdi">
                </div>
                <div class="form-group">
                    <label>Telefon Numarası</label>
                    <input type="text" name="telNo" class="form-control" [(ngModel)]="seckayit.telNo">
                </div>
                <div class="form-group">
                    <label>Konum</label>
                    <select name="konum" class="form-control" [(ngModel)]="seckayit.konum">
                        <option value="0">Seçiniz</option>
                        <option value="1">Adana</option>
                        <option value="2">Adıyaman</option>
                        <option value="3">Afyonkarahisar</option>
                        <option value="4">Ağrı</option>
                        <option value="5">Amasya</option>
                        <option value="6">Ankara</option>
                        <option value="7">Antalya</option>
                        <option value="8">Artvin</option>
                        <option value="9">Aydın</option>
                        <option value="10">Balıkesir</option>
                        <option value="11">Bilecik</option>
                        <option value="12">Bingöl</option>
                        <option value="13">Bitlis</option>
                        <option value="14">Bolu</option>
                        <option value="15">Burdur</option>
                        <option value="16">Bursa</option>
                        <option value="17">Çanakkale</option>
                        <option value="18">Çankırı</option>
                        <option value="19">Çorum</option>
                        <option value="20">Denizli</option>
                        <option value="21">Diyarbakır</option>
                        <option value="22">Edirne</option>
                        <option value="23">Elazığ</option>
                        <option value="24">Erzincan</option>
                        <option value="25">Erzurum</option>
                        <option value="26">Eskişehir</option>
                        <option value="27">Gaziantep</option>
                        <option value="28">Giresun</option>
                        <option value="29">Gümüşhane</option>
                        <option value="30">Hakkâri</option>
                        <option value="31">Hatay</option>
                        <option value="32">Isparta</option>
                        <option value="33">Mersin</option>
                        <option value="34">İstanbul</option>
                        <option value="35">İzmir</option>
                        <option value="36">Kars</option>
                        <option value="37">Kastamonu</option>
                        <option value="38">Kayseri</option>
                        <option value="39">Kırklareli</option>
                        <option value="40">Kırşehir</option>
                        <option value="41">Kocaeli</option>
                        <option value="42">Konya</option>
                        <option value="43">Kütahya</option>
                        <option value="44">Malatya</option>
                        <option value="45">Manisa</option>
                        <option value="46">Kahramanmaraş</option>
                        <option value="47">Mardin</option>
                        <option value="48">Muğla</option>
                        <option value="49">Muş</option>
                        <option value="50">Nevşehir</option>
                        <option value="51">Niğde</option>
                        <option value="52">Ordu</option>
                        <option value="53">Rize</option>
                        <option value="54">Sakarya</option>
                        <option value="55">Samsun</option>
                        <option value="56">Siirt</option>
                        <option value="57">Sinop</option>
                        <option value="58">Sivas</option>
                        <option value="59">Tekirdağ</option>
                        <option value="60">Tokat</option>
                        <option value="61">Trabzon</option>
                        <option value="62">Tunceli</option>
                        <option value="63">Şanlıurfa</option>
                        <option value="64">Uşak</option>
                        <option value="65">Van</option>
                        <option value="66">Yozgat</option>
                        <option value="67">Zonguldak</option>
                        <option value="68">Aksaray</option>
                        <option value="69">Bayburt</option>
                        <option value="70">Karaman</option>
                        <option value="71">Kırıkkale</option>
                        <option value="72">Batman</option>
                        <option value="73">Şırnak</option>
                        <option value="74">Bartın</option>
                        <option value="75">Ardahan</option>
                        <option value="76">Iğdır</option>
                        <option value="77">Yalova</option>
                        <option value="78">Karabük</option>
                        <option value="79">Kilis</option>
                        <option value="80">Osmaniye</option>
                        <option value="81">Düzce</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>E posta</label>
                    <input type="text" name="posta" class="form-control" [(ngModel)]="seckayit.posta">
                </div>
                <div class="form-group">
                    <label>Şifre</label>
                    <input type="password" name="sifre" class="form-control" [(ngModel)]="seckayit.sifre">
                </div>
                <div class="form-group">
                    <input type="submit" name="giris" class="btn btn-warning text-dark btn-block" value="Kayıt Ol"
                        (click)="Kaydet()">
                </div>
                <div></div>


            </form>
        </div>
        <div class="card-footer text-right">Marjinal Yazılım.</div>

    </div>
</div>